<div>
  <div class="index-wrapper">
  <img class="beer-image" src="/images/beer.png">
    <a class="btn" href="/beers">Check the Beers!</a>
    <a class="btn" href="/random-beer">Random beers</a>
  </div>
  
  </div>
  
</div>